* {
    /* height & width now includes border & padding */
    /*box-sizing: border-box;*/
  }
  
  body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex rows;
    justify-content: center;
    align-items: center; 
  }
  
  header {
    text-align: center;
  }

  section {
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin 20vmin;
    gap: 10px;
  }

  #board > tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
  }

  #board > tile:hover{
    background-color: pink;
  }


  #bottom {
    margin-top: 40px;
    height: 50%;
    text-align: center;
  }

  #bottom > div {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  button {
    justify-content: center;
    height: 80px;
    width: 90px;
  }

  .timer {
    
  }





